body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-link {
	color: #f00;
}

.center {
	text-align: center;
	align-content: center;
}

/*///////////
///BANNER
///////////*/

.banner-inner {
	max-height: 275px;
}

.banner .slick-slider {
	max-height: 275px;
}

.banner .slick-slide {
	max-height: 275px

}

.slick-slide img {
	height: 400px;
    width: 100%;
}

/*///////////
///NAVIGATION
///////////*/

.nav-email {
	color: #f00;
	margin-right: 10px;
}
.nav-email-icon {
	margin-right: 5px;
}

.nav-facebook {

}